body {
  background: radial-gradient(circle at center, #4b2880 0%, #0b0714 100%);
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-padding: 100px;
}

.container {
  width: 100%;
  max-height: 100%;
  background-color: #1a0b2e;
  overflow: hidden;
  margin: auto;
}

.list-menu {
  width: 100%;
  background-color: #191919;
  overflow: hidden;
  margin: auto;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.list-menu ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.list-menu ul li a {
  text-decoration: none;
  display: block;

  padding: 10px 20px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 600;
}

.list-menu a:hover,
.list-menu a.active {
  color: #6f00ff;
  border-bottom: 1px solid #b74bb7;
}

.home-img {
  width: 100%;
  background-color: #1a0b2e;
  margin: auto;
  overflow: hidden;
  padding: 0;
}

.img-main {
  width: 100%;
  height: 100%;
  /* background-color: #6f00ff; */
  display: flex;
  justify-content: normal;
}

.main-left {
  width: 50%;
  background-color: #1a0b2e;
}

.main-right {
  width: 50%;
  background-color: #1a0b2e;
}

.img-profile {
  position: absolute;
  width: 240px;
  margin-left: 460px;
  margin-top: 79px;
  border-radius: 50%;
}

.typing-img {
  width: 1000px;
  margin-top: 124px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.typing-img h2 {
  margin: 1;
  padding: 0%;
}

.typing-img h1 {
  margin: 0;
  padding: 0;
}

.typing-img h5 {
  margin: 0;
  padding: 0;
}

.typing-img span {
  color: #6f00ff;
}

.img-profile img {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-profile img:hover {
  border-radius: 50%;
  box-shadow: rgba(217, 217, 217, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px, #eb67671f 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.social-icons {
  width: auto;
  margin-top: 55px;
}

.social-icons i {
  font-size: 35px;
  color: #6f00ff;
}

.social-icons a {
  display: inline-block;
  transition: 0.3s ease;
  background-color: transparent;
  color: #210f39;
}

.social-icons a:hover {
  color: black;
  transform: scale(1.3) translateY(-2px);
}

.main-down {
  width: 40%;
  position: relative;
  margin-top: 90px;
  margin-left: 450px;
}

.main-down h1 {
  font-size: 35px;
  color: #ffffff;
}

.main-down h1 {
  padding: 0;
  margin: 0%;
}

.main-down h3 {
  color: #ffffff;
  font-size: 16px;
}

.main-down h3 {
  margin: 0;
  padding: 0%;
}

.main-down h3 span {
  color: #18d9f2;
}

.main-down h2 {
  color: #ffffff;
}

.education-main {
  width: 100%;
  background-color: #1a0b2e;
  display: flex;
}

.text-litle {
  margin-left: 445px;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.text-litle span {
  font-size: 15px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 13px 30px;
  font-family: "Courier New", Courier, monospace;
}

.icons-technical {
  display: flex;
  align-items: center;
}

.icons-technical img {
  height: 50px;
  align-items: center;
  padding: 5px;
}

.git-img {
  border-radius: 15px;
}

/* .Gradient{
position: absolute;
width: 743px;
height: 700px;
left: 653.31px;
top: 1537px;
background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
} */

.right-main {
  width: 45%;
  background-color: #1a0b2e;
}

.softskill-main {
  background-color: #1a0b2e;
  width: 65%;
  margin: auto;
  margin-top: 70px;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.text-main h1 {
  text-align: left;
}

.text-left {
  text-align: left;
}

.text-down {
  width: 100%;
  display: flex;
  background-color: #1a0b2e;
  font-size: 15px;
}

.text-down img {
  height: 90px;
  margin-left: 50px;
  margin-right: 50px;
}

.line-vector {
  height: 1px;
  margin-top: 40px;
}

.line-vector img {
  width: 120px;
}

.experience {
  width: 100%;
  background-color: #1a0b2e;
  font-family: "Courier New", Courier, monospace;
}

.text-experience {
  width: 71%;
  color: #ffffff;
  margin-left: 235px;
  border-bottom: 1px solid;
}

.main-box {
  display: flex;
  justify-content: center;
}

.box-main {
  width: 35%;
  margin-left: 35px;
  margin-top: 35px;
  border-radius: 15px;
  background-image: linear-gradient(
    #130428,
    #251043,
    #261045,
    #38126d,
    #190634
  );
  border-top: solid 2px #4f228d;
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.img-box {
  margin-top: 15px;
  margin-left: 25px;
}

.img-box img {
  width: 100px;
}

.in-main-box {
  justify-content: center;
  margin-top: 15px;
  margin-left: 25px;
  width: 60%;
  height: 100px;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.in-main-box h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.in-main-box p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.experience-skill {
  width: 100%;
  background-color: #190634;
}

.text-skill-front {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.text-skill-front h1 {
  font-size: 40px;
  margin-left: 215px;
  padding: 20px;
}

.img-middle {
  position: relative;
  width: 40%;
  margin: auto;
}

.img-middle img {
  position: relative;
  height: 100px;
  top: 12px;
  left: 80px;
}

.img-middle h1 {
  position: absolute;
  font-size: 20px;
  color: #ffffff;
  top: 0px;
  left: 35%;
  font-size: 50px;
}

.mini-text {
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 8px;
  color: white;
  margin-top: 25px;
}

.skill-main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.list-skill {
  width: 40%;
  display: block;
  background-color: blue;
  margin: 10px;
}

.skills-section {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 40px 90px;
  justify-content: center;
  margin-top: 50px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.skill span {
  font-size: 1.3rem;
}

.progress {
  background: #66646470;
  border-radius: 10px;
  height: 10px;
  width: 150px;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #b14fff, #7a3cff);
  border-radius: 10px;
  box-shadow: 0 0 10px #b14fff;
  transition: width 0.6s ease;
}

.percentage {
  font-size: 0.9rem;
  margin-left: 8px;
  color: #d3c3ff;
}

.main-project {
  width: auto;
  height: 1000px;
  background-color: #190634;
}

.little-projects {
  width: auto;
  background-color: #190634
;
}

.little-projects h1 {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 100px;
}

.menu-project{
  margin: auto;
  width: 90%;
  

  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.list-project{
  background-color: #190634;
  width: 25%;
  height: 40%;
  margin: 20px;
}

.list-project img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact-me{
  width: 100%;
  background-color: green;
  height:50%;
}

.text-contact{
  justify-content: space-between;
  display: flex;
}

.text-contact h1{
  font-size: 25px;
}

.contect{
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    display: flex;
    justify-content: center;
    text-align: center;
}
.box-contect{
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
.contect-text{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.contect-text h1{
    font-size: 40px;  
}
.fill-in {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 20px;
}
.fill-in label {
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: 10px;
}
.fill-in input {
    width: 100%;
    border-radius: 12px;
    padding: 20px 10px;
    background-color: transparent;
    color: white;
}
.fill-in ::placeholder {
    font-size: 20px;
    color: gray; 
}
.fill-inn {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.fill-inn label {
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: 10px;
}
.fill-inn input {
    width: 100%;
    border-radius: 12px;
    padding: 70px 10px;
    background-color: transparent;
}
.fill-inn ::placeholder {
    font-size: 20px;
    color: gray;
}
.submit {
   font-size: 20px; 
   font-weight: bold;
    
}
.submit input {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: transparent;
    margin-top: 20px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

