.container{
    width: 100%;
    background-color: skyblue;
    margin: auto;
    display: flex;
    justify-content: center;
}

.box{
    width: 40%;
    display:flex;
    justify-content: center;
    gap: 50px;
}

