body{
     margin: 0;
}
.container{
    width: 100%;
    max-height: 100%;
    background-color: #1A0B2E;
    overflow: hidden;
    margin: auto;
}

.list-menu{
    width: 100%;
    height: 100px;
    background-color: #210f39;
    overflow: hidden;
    margin: auto;
    align-items: center;
}

.list-menu ul{
    margin-right: 350px;
    padding: 0;
    list-style-type: none;
    float: right;
    text-align: center;
    display: flex;
}

.list-menu ul li a{
    text-decoration: none;
    display: block;
    padding: 25px 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 600;
}


.list-menu ul li a:hover{
    color: rgb(255, 0, 0);
}

.home-img{
    
    width: 100%;
    background-color: #1A0B2E;
    margin: auto;
    overflow: hidden;
    padding: 0;
}

.img-main{
    width: 100%;
    height: 100%;
    /* background-color: #6f00ff; */
    display: flex;
    justify-content: normal;
}
.main-left{
    width: 50%;
    height: 100%;
    background-color: #1A0B2E;
}

.main-right{
    width: 50%;
    height: 100%;
    background-color: #1A0B2E;
}
.img-profile{
    position: absolute;
    width: 240px;
    height: 300px;
    margin-left: 460px;
    margin-top: 79px;
    border-radius: 50%;
}

.typing-img{
    width: 1000px;
    height: 100px;
    margin-top: 124px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}


.typing-img h2{
    margin: 1;
    padding: 0%;
}
.typing-img h1{
    margin: 0;
    padding: 0;
}
.typing-img h5{
    margin: 0;
    padding: 0;
}
.typing-img span{
    color: #6f00ff;
}

.img-profile img{
    position: relative;
    object-fit:cover;
    height: 100%;
    width: 100%;
}

.img-profile img:hover{
    border-radius: 50%;
    box-shadow: rgba(217, 217, 217, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, #eb67671f 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;

}


.social-icons{
    width:auto;
    height: auto;
    margin-top:55px;
}

.social-icons i{
    font-size: 35px;
    color: #6f00ff;
}

.social-icons a{
    display: inline-block;
    transition: 0.3s ease;
    background-color: transparent;
    color: #210f39;
    

}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-2px);
}

.main-down{
    width: 40%;
    height: 35%;
    position: relative;
    margin-top: 90px;
    margin-left: 450px;

}

.main-down h1{
    font-size: 35px;
    color: #ffffff;
}

.main-down h1{
    padding: 0;
    margin: 0%;
}

.main-down h3{
    color: #ffffff ;
    font-size: 16px;

}
.main-down h3{
    margin: 0;
    padding:0%;
}

.main-down h3 span{
    color: #18d9f2;
}

.main-down h2{
    color: #ffffff;
}

.experience-main{
    width: 100%;
    background-color: #1A0B2E

}

.text-litle{
    margin-left:445px ;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

.text-litle span{
    font-size: 15px;
    border: 1px solid #ffffff;
    border-radius: 30px ;
    padding: 15px 30px;
    
}